<p>OBSERVACIONES</p>
<textarea class="area" disabled><%=observaciones%></textarea><br>
<a id="seg-lb-tipo-tutoria">TIPO DE TUTORÍA</a>
<select id="seg-tipo-tutoria" >
    <option value="PREVENTIVA">Preventiva</option>
    <option value="REMEDIAL">Remedial</option>
</select>
<a id="seg-lb-status" class="status">ESTATUS</a>
<select id="seg-status">
    <option value="REGISTRADA">Registrada</option>
    <option value="ENPROCESO">En Proceso</option>
    <option value="FINALIZADA">Finalizada</option>
</select><br>
<a id="seg-lb-depto">CANALIZAR</a>
<select id="seg-depto">
    <option value="TUTOR">Tutor</option>
    <option value="DIRECCION">Dirección</option>
    <option value="PSICOLOGIA">Depto. Psicología</option>
</select>
<button type="button" id="seg-btnNota" class="btnNota">Nota informativa</button>
<p>DIAGNOSTICO DEL TUTOR</p>
<textarea class="area" id="seg-diagnostico"><%=diagnostico%></textarea>
<p>PROPOSITO DE LA TUTORÍA</p>
<textarea class="area" id="seg-proposito"><%=proposito%></textarea>
<p>MEDIDAS DE CONTROL</p>
<textarea class="area" id="seg-medidas"><%=medidas%></textarea>
<p>RECOMENDACIONES</p>
<textarea class="area" id="seg-recomendaciones"><%=recomendaciones%></textarea>
<button type="button" id="tut-seg-btn-guardar" class="button">Guardar</button>
<button type="button" id="dir-seg-btn-guardar" class="button">Guardar</button>
<button type="button" id="seg-btn-bitacora" class="btnBit">Bitácora PDF</button>
<button type="button" id="seg-btn-redactar" class="button">Redactar nota</button>

<div id="dialog" title="NOTA INFORMATIVA" style="display:none;" aria-hidden="true">
    <a>Para finalizar esta tutoría debe redactar y guardar la nota informativa</a>
    <textarea class="area" id="seg-nota"></textarea>
</div>

