<form class="form1">
    <a>Programa educativo</a>
    <select>
        <option>TIC</option>
        <option>Enfermeria</option>
    </select>
    <a>Profesor</a>
    <select>
        <option>Roberto Olguin</option>
        <option>Gamaliel Vázquez </option>
    </select>
    <a>Cuatrimestre</a>
    <select>
        <option>1ro</option>
        <option>2do</option>
    </select>
    <a>Grupo</a>
    <select>
        <option>1</option>
        <option>2</option>
    </select>
    <button type="button" class="button">Asignar</button>
</form>