<form class="form2">
    <a>Programa educativo</a>
    <select id="dir-carrera" disabled>
    </select>
    <a>Cuatrimestre</a>
    <select id="dir-cuatrimestres">
    </select>
    <table id="grid-data" class="stat" cellspacing="0">
        <thead>
        <tr>
            <th data-column-id="id" class="hed">TUTOR</th>
            <th data-column-id="sender" class="hed">CUATRIMESTRE</th>
            <th data-column-id="received" data-order="desc" class="hed">GRUPO</th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false" class="hed">COMANDOS</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <button type="button" class="button" id="btn-pdf">Generar PDF</button>
</form>