<form class="form5">
    <a>Programa educativo</a>
    <select id="prof-carreras" class="carreras">
    </select>
    <table id="grid-data" class="stats" cellspacing="0">
        <tr>
            <th class="hed">MATRICULA</th>
            <th class="hed">NOMBRE</th>
            <th class="hed">TUTOR</th>
        </tr>
        <tbody>
        </tbody>
    </table>
    <p>OBSERVACIONES</p>
    <textarea class="area" disabled></textarea><br>
    <a>TIPO DE TUTORÍA</a>
    <select>
        <option>SELECCIONAR</option>
        <option>PREVENTIVA</option>
        <option>REMEDIAL</option>
    </select>
    <a class="status">ESTATUS</a>
    <select>
        <option>REGISTRADA</option>
        <option>EN PROCESO</option>
        <option>FINALIZADA</option>
    </select><br>
    <button type="button" class="btnNota">NOTA INFORMATIVA</button>
    <p>DIAGNOSTICO DEL TUTOR</p>
    <textarea class="area" disabled></textarea>
    <p>PROPOSITO DE LA TUTORÍA</p>
    <textarea class="area" disabled></textarea>
    <p>MEDIDAS DE CONTROL</p>
    <textarea class="area" disabled></textarea>
    <p>RECOMENDACIONES</p>
    <textarea class="area" disabled></textarea>
</form>