<form class="form1">
    <input type="text" placeholder="Matricula" required/>
    <select>
        <option value="">Tipo de tutoria</option>
        <option value="">PREVENTIVA</option>
        <option value="">REMEDIAL</option>
    </select>
    <select>
        <option>Departamento</option>
        <option>TUTOR</option>
        <option>DEPTO. PSICOLOGIA</option>
    </select>
    <p>OBSERVACIONES<br></p>
    <textarea rows="5" cols="30"></textarea><br>
    <button type="button" class="button">Enviar</button>
</form>