<h4 class="list-group-item-heading"><b><%= nombreOficial%></b></h4>
<div class="row">
    <div class="col-md-8">
        <p class="list-group-item-text"><%= direccion%> <%= noExt%> <%= noInt%> <%= colonia%></p>
        <p class="list-group-item-text"><%= municipio%></p>
        <p class="list-group-item-text"><%= estado%></p>
        <p class="list-group-item-text"><%= pais%></p>
    </div>
    <div class="col-md-4">
        <br>
        <button class="center-block btn btn-success" id="ir-detalle">Entrar</button>
    </div>
</div>