<!-- Director -->
<li id="asignaciones">
    <a href="#">Asignaciones</a>
</li>
<li id="tutores">
    <a href="#">Tutores</a>
</li>
<li id="plan-dir">
    <a href="#">Programas</a>
</li>
<li id="seguimiento-dir">
    <a href="#">Seguimiento</a>
</li>

<!-- Profesor -->
<li id="canalizar">
    <a href="#">Canalizar</a>
</li>
<li id="seguimiento-prof">
    <a href="#">Seguimiento</a>
</li>

<!-- Psicologo -->
<li id="plan">
    <a href="#">Consultar plan</a>
</li>

<li id="seguimiento-psi">
    <a href="#">Seguimiento</a>
</li>

<!-- Tutor -->
<li id="plantuto">
    <a href="#">Plan de tutoría</a>
</li>
<li id="bitacora">
    <a href="#">Registrar tutoría</a>
</li>
<li id="profesores">
    <a href="#">Profesores</a>
</li>
<li id="seguimiento">
    <a href="#">Seguimiento</a>
</li>

<!-- Salir -->
<li id="salir">
    <a href="logout">
        <img src="img/switch.png">
    </a>
</li>
