<form class="plantuto">
    <p>DIAGNOSTICO</p>
    <textarea class="area"><%=diagnostico%></textarea>
    <p>PROPOSITO</p>
    <textarea class="area"><%=proposito%></textarea>
    <p>ACTIVIDADES A DESARROLLAR EN EL CUATRIMESTRE:</p>
    <a class="mes1">1er MES</a><a class="mes">2do MES</a><a class="mes">3er MES</a><a class="mes">4to MES</a><br>
    <input type="text"><input type="radio" name="act1"><input type="radio" name="act1"><input type="radio" name="act1"><input type="radio" name="act1"><br>
    <input type="text"><input type="radio" name="act2"><input type="radio" name="act2"><input type="radio" name="act2"><input type="radio" name="act2"><br>
    <input type="text"><input type="radio" name="act3"><input type="radio" name="act3"><input type="radio" name="act3"><input type="radio" name="act3"><br>
    <input type="text"><input type="radio" name="act4"><input type="radio" name="act4"><input type="radio" name="act4"><input type="radio" name="act4"><br>
    <input type="text"><input type="radio" name="act5"><input type="radio" name="act5"><input type="radio" name="act5"><input type="radio" name="act5"><br>
    <input type="text"><input type="radio" name="act6"><input type="radio" name="act6"><input type="radio" name="act6"><input type="radio" name="act6"><br>
    <input type="text"><input type="radio" name="act7"><input type="radio" name="act7"><input type="radio" name="act7"><input type="radio" name="act7"><br>
    <input type="text"><input type="radio" name="act8"><input type="radio" name="act8"><input type="radio" name="act8"><input type="radio" name="act8"><br>
    <p>MEDIDAS DE CONTROL PARA EL LOGRO DE LA TUTORÍA</p>
    <textarea class="area"><%=medidas%></textarea>
    <p>RECOMENDACIONES DEL TUTOR</p>
    <textarea class="area"><%=recomendaciones%></textarea>
    <button type="button" class="button">Guardar</button>
    <button type="button" class="button">Obtener PDF</button>
</form>