<p>OBSERVACIONES</p>
<textarea class="area" disabled><%=observaciones%></textarea><br>
<a>TIPO DE TUTORÍA</a>
<select id="tut-tpo-tutoria" >
    <option value="REMEDIAL">Remedial</option>
    <option value="PREVENTIVA">Preventiva</option>
</select>
<a class="status">ESTATUS</a>
<select id="tut-estatus">
    <option value="REGISTRADA">Registrada</option>
    <option value="ENPROCESO">En Proceso</option>
    <option value="FINALIZADA">Finalizada</option>
</select><br>
<a>CANALIZAR</a>
<select id="tut-depto">
    <option value="TUTOR">Tutor</option>
    <option value="DIRECCION">Dirección</option>
    <option value="PSICOLOGIA">Depto. Psicología</option>
</select>
<button type="button" class="btnNota">NOTA INFORMATIVA</button>
<p>DIAGNOSTICO DEL TUTOR</p>
<textarea class="area"><%=diagnostico%></textarea>
<p>PROPOSITO DE LA TUTORÍA</p>
<textarea class="area"><%=proposito%></textarea>
<p>MEDIDAS DE CONTROL</p>
<textarea class="area"><%=medidas%></textarea>
<p>RECOMENDACIONES</p>
<textarea class="area"><%=recomendaciones%></textarea>
<button type="button" class="button">GUARDAR</button>
<button type="button" class="btnBit">Bitácora</button>